In [1]:
import pandas as pd 

# Reading data from the downloaded CSV:
movies_df = pd.read_csv("IMDB-Movie-Data.csv")

In [3]:
# We have created a DataFrame, movies_df, with a default index. What if we want to be able to access each row by
# the title of the movie, and not by some integer index?

# One way to set titles as our index is by passing the column name as an additional parameter, index_col, to the
# read_csv method at file load time. The second way is to do this at a later stage by explicitly calling the 
# set_index() method on the created DataFrame. We can see this in the code snippet below.

# Having an index allows for easy and efficient searches. Looking up rows based on index values is like looking up 
# dictionary values based on a key. For example, when the title is used as an index, we can quickly fetch the row 
# for a particular movie by simply using its title for lookup instead of trying to find out its row number first.

# Note that we are creating both title-indexed and default DataFrames (we don’t need both), so that we can 
# understand the indexing concept better by comparing the two as, in steps 2 and 4.

# 1. We can set the index at load time
movies_df_title_indexed = pd.read_csv("IMDB-Movie-Data.csv", index_col='Title')

# 2. We can set the index after the DataFrame has been created
movies_df_title_indexed = movies_df.set_index('Title')

movies_df.head()

# To ouput the top ten rows
movies_df.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

In [4]:
# Now if we print the rows of the DataFrame with the explicit index, we can see that the name of the indexed 
# column, “Title”, gets printed slightly lower than the rest of the columns, and it is displayed in place of the 
# column which was showing row numbers in the previous case (with default index)
movies_df_title_indexed.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [5]:
# We can now see that each row in our dataset consists of a movie and for each movie we have information like 
# “Rating”, “Revenue”, “Actors” and “Genre”. Each column is also called a feature, attribute, or a variable.

# Similarly, it can be useful to observe the last rows of the dataset. We can do this by using the tail() method.
# Like the head() method, tail() also accepts the number of rows we want to view as input parameter.
movies_df_title_indexed.tail(3)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [6]:
 #Getting Information About the Data
#     As a first step, it is recommended to get the 10000-foot view of the data. We are going to look at two 
#     different methods for getting this high-level view: info() and describe().

# a. info(): This method allows us to get some essential details about our dataset, like the number of
#     rows and columns, the number of index entries within that index range, the type of data in each column, 
#     the number of non-null values, and the memory used by the DataFrame:
# This should be one of the very first commands you run after loading your data:
movies_df_title_indexed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [9]:
# As we can see from the snippet above, our dataset consists of 1000 rows and 11 columns, and it is using 
# about 93KB of memory. An important thing to notice is that we have two columns with missing values: “Revenue”
#     and “Metascore”. Knowing which columns have missing values is important for the next steps. Handling missing
#     data is an important data preparation step in any data science project; more often than not, we need to use 
#     machine learning algorithms and methods for data analysis that are not able to handle missing data themselves.

# The output of the info() method also allows shows us if we have any columns that we expected to be integers but 
# are actually strings instead. For example, if the revenue had been recorded as a string type, before doing any
# numerical analysis on that feature, we would have needed to convert the values for revenue from string to float.

# .shape: This is a fast and useful attribute which outputs a tuple, <rows, columns>, representing the number of 
#     rows and columns in the DataFrame. This attribute comes in very handy when cleaning and transforming data. 
#     Say we had filtered the rows based on some criteria. We can use shape to quickly check how many rows we are 
#     left with in the filtered DataFrame:

movies_df_title_indexed.shape

# b. describe(): This is a great method for doing a quick analysis of the dataset. 
# It computes summary statistics of integer/double variables and gives us some basic statistical details 
# like percentiles, mean, and standard deviation:

(1000, 11)

In [10]:
movies_df_title_indexed.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [12]:
#  Data Selection and Slicing#
# One important thing to remember here is that although many of the methods can be applied to both
# DataFrame and Series, these two have different attributes. This means we need to know which type of object 
# we are working with. Otherwise, we can end up with error
# a. Working With Columns

# We can extract a column by using its label (column name) and the square bracket notation:
genre_col = movies_df['Genre']

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [13]:
# The above will return a Series object. If we want to obtain a DataFrame object as output instead, then we need
# to pass the column name(s) as a list (double square brackets)

# To obtain a dataFrame as output
col_as_df = movies_df[['Genre']]
col_as_df

                        Genre
0     Action,Adventure,Sci-Fi
1    Adventure,Mystery,Sci-Fi
2             Horror,Thriller
3     Animation,Comedy,Family
4    Action,Adventure,Fantasy
..                        ...
995       Crime,Drama,Mystery
996                    Horror
997       Drama,Music,Romance
998          Adventure,Comedy
999     Comedy,Family,Fantasy

[1000 rows x 1 columns]

In [14]:
# If we want to extract multiple columns, we can simply add additional column names to the list
#Since it's just a list, adding another column name is easy:
extracted_cols = movies_df_title_indexed[['Genre', 'Rating', 'Revenue (Millions)']]

extracted_cols.head()

                                            Genre  Rating  Revenue (Millions)
Title
Guardians of the Galaxy   Action,Adventure,Sci-Fi     8.1              333.13
Prometheus               Adventure,Mystery,Sci-Fi     7.0              126.46
Split                             Horror,Thriller     7.3              138.12
Sing                      Animation,Comedy,Family     7.2              270.32
Suicide Squad            Action,Adventure,Fantasy     6.2              325.02

In [ ]:
# Notice the difference when we use the indexed DataFrame (“movies_df_indexed”) vs default-indexed one (“movies_df”):
# we have an index on title so in the last snippet, movie titles are getting displayed instead of row numbers.

In [17]:
# b. Working With Rows

# Now let’s look at how to perform slicing by rows. Here we have essentially the following indexers:

# loc: the loc attribute allows indexing and slicing that always references the explicit index, i.e., locates by 
#  name. For example, in our DataFrame indexed by title, we will use the title of the movie to select the 
#  required row.
# iloc: the iloc attribute allows indexing and slicing that always references the implicit Python-style index, i.e.,
# locates by numerical index. In the case of our DataFrame, we will pass the numerical index of the movie
# for which we are interested in fetching data.
# ix: this is a hybrid of the other two approaches. We will understand this better by looking at some examples.

# With loc we give the explicit index. In our case the title, "Guardians of the Galaxy":
gog = movies_df_title_indexed.loc["Guardians of the Galaxy"]

# With iloc we give it the numerical index of "Guardians of the Galaxy":
gog = movies_df_title_indexed.iloc[0]

gog

Rank                                                                  1
Genre                                           Action,Adventure,Sci-Fi
Description           A group of intergalactic criminals are forced ...
Director                                                     James Gunn
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                               2014
Runtime (Minutes)                                                   121
Rating                                                              8.1
Votes                                                            757074
Revenue (Millions)                                               333.13
Metascore                                                          76.0
Name: Guardians of the Galaxy, dtype: object

In [19]:
# We can also get slices with multiple rows in the same manner:
multiple_rows = movies_df_title_indexed.loc['Guardians of the Galaxy':'Sing']
multiple_rows = movies_df_title_indexed.iloc[0:4]

multiple_rows

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0

In [21]:
# If we do not want to select all the columns, we can specify both rows and columns at once; the first index refers 
# to rows while the second one (after the coma) to columns:

# Remember: the dot notation is start:step:end. If we just have something like :4, it means the starting point is 
# the 0th index.
# Select all rows uptil 'Sing' and all columns uptil 'Director'
movies_df_title_indexed.loc[:'Sing', :'Director']
# movies_df_title_indexed.iloc[:4, :3]

,Rank,Genre,Description,Director
Title,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet

In [22]:
# Now let’s look at the hybrid approach, ix. It’s just like the other two indexing options, except that we can use 
# a mix of explicit and implicit indexes:

movies_df_title_indexed.loc[:'Sing', :]
movies_df_title_indexed.loc[:, :'Director']

,Rank,Genre,Description,Director
Title,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer
...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld

In [27]:
# 5. Conditional Data Selection and Filtering
# We have looked at selecting rows and columns based on specific indices. But what if we don’t know the 
# index (implicit or explicit) of the row that we want to perform data selection or filtering based on some 
# conditions on?

# Say we want to filter our movies DataFrame to show only movies from 2016 or all the movies that had a rating of
# more than 8.0?

# We can apply boolean conditions to the columns in our DataFrame as follows:

# We can easily filter rows using the values of a specific row. 
# For example, for geting all our 2016 movies:
movies_df_title_indexed[movies_df_title_indexed['Year'] == 2016]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
The Great Wall,6,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
...,...,...,...,...,...,...,...,...,...,...,...
My Big Fat Greek Wedding 2,976,"Comedy,Family,Romance",A Portokalos family secret brings the beloved ...,Kirk Jones,"Nia Vardalos, John Corbett, Michael Constantin...",2016,94,6.0,20966,59.57,37.0
Amateur Night,978,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,"Jason Biggs, Janet Montgomery,Ashley Tisdale, ...",2016,92,5.0,2229,NaN,38.0
It's Only the End of the World,979,Drama,"Louis (Gaspard Ulliel), a terminally ill write...",Xavier Dolan,"Nathalie Baye, Vincent Cassel, Marion Cotillar...",2016,97,7.0,10658,NaN,48.0
Miracles from Heaven,981,"Biography,Drama,Family",A young girl suffering from a rare digestive d...,Patricia Riggen,"Jennifer Garner, Kylie Rogers, Martin Henderso...",2016,109,7.0,12048,61.69,44.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [28]:
# All our movies with a rating higher than 8.0 
movies_df_title_indexed[movies_df_title_indexed['Rating'] > 8.0 ]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
Hacksaw Ridge,17,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0
Lion,19,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0
Bahubali: The Beginning,27,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
Star Wars: Episode VII - The Force Awakens,51,"Action,Adventure,Fantasy",Three decades after the defeat of the Galactic...,J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna...",2015,136,8.1,661608,936.63,81.0
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
The Prestige,65,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
Mad Max: Fury Road,68,"Action,Adventure,Sci-Fi",A woman rebels against a tyrannical ruler in p...,George Miller,"Tom Hardy, Charlize Theron, Nicholas Hoult, Zo...",2015,120,8.1,632842,153.63,90.0
Zootopia,75,"Animation,Adventure,Comedy","In a city of anthropomorphic animals, a rookie...",Byron Howard,"Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016,108,8.1,296853,341.26,78.0
The Avengers,77,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0
Inglourious Basterds,78,"Adventure,Drama,War","In Nazi-occupied France during World War II, a...",Quentin Tarantino,"Brad Pitt, Diane Kruger, Eli Roth,Mélanie Laurent",2009,153,8.3,959065,120.52,69.0
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
The Wolf of Wall Street,83,"Biography,Comedy,Crime","Based on the true story of Jordan Belfort, fro...",Martin Scorsese,"Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...",2013,180,8.2,865134,116.87,75.0
Gone Girl,84,"Crime,Drama,Mystery",With his wife's disappearance having become th...,David Fincher,"Ben Affleck, Rosamund Pike, Neil Patrick Harri...",2014,149,8.1,636243,167.74,79.0
Prisoners,91,"Crime,Drama,Mystery",When Keller Dover's daughter and her friend go...,Denis Villeneuve,"Hugh Jackman, Jake Gyllenhaal, Viola Davis,Mel...",2013,153,8.1,431185,60.96,74.0
The Help,93,Drama,An aspiring author during the civil rights mov...,Tate Taylor,"Emma Stone, Viola Davis, Octavia Spencer, Bryc...",2011,146,8.1,342429,169.71,62.0
Kimi no na wa,97,"Animation,Drama,Fantasy",Two strangers find themselves linked in a biza...,Makoto Shinkai,"Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Nari...",2016,106,8.6,34110,4.68,79.0
The Departed,100,"Crime,Drama,Thriller",An undercover cop and a mole in the police att...,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,...",2006,151,8.5,937414,132.37,85.0
12 Years a Slave,112,"Biography,Drama,History","In the antebellum United States, Solomon North...",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",2013,134,8.1,486338,56.67,96.0
Harry Potter and the Deathly Hallows: Part 2,115,"Adventure,Drama,Fantasy","Harry, Ron and Hermione search for Voldemort's...",David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, M...",2011,130,8.1,590595,380.96,87.0
Dangal,118,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,NaN
The Dark Knight Rises,125,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
Whiplash,134,"Drama,Music",A promising young drummer enrolls at a cut-thr...,Damien Chazelle,"Miles Teller, J.K. Simmons, Melissa Benoist, P...",2014,107,8.5,477276,13.09,88.0
No Country for Old Men,137,"Crime,Drama,Thriller",Violence and mayhem ensue after a hunter stumb...,Ethan Coen,"Tommy Lee Jones, Javier Bardem, Josh Brolin, W...",2007,122,8.1,660286,74.27,91.0
Shutter Island,139,"Mystery,Thriller","In 1954, a U.S. marshal investigates the disap...",Martin Scorsese,"Leonardo DiCaprio, Emily Mortimer, Mark Ruffal...",2010,138,8.1,855604,127.97,63.0
Room,144,Drama,A young boy is raised within the confines of a...,Lenny Abrahamson,"Brie Larson, Jacob Tremblay, Sean Bridgers,Wen...",2015,118,8.2,224132,14.68,86.0
Django Unchained,145,"Drama,Western","With the help of a German bounty hunter , a fr...",Quentin Tarantino,"Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",2012,165,8.4,1039115,162.80,81.0
Ah-ga-ssi,146,"Drama,Mystery,Romance",A woman is hired as a handmaiden to a Japanese...,Chan-wook Park,"Min-hee Kim, Jung-woo Ha, Jin-woong Jo, So-ri ...",2016,144,8.1,33418,2.01,84.0
Twin Peaks: The Missing Pieces,155,"Drama,Horror,Mystery",Twin Peaks before Twin Peaks (1990) and at the...,David Lynch,"Chris Isaak, Kiefer Sutherland, C.H. Evans, Sa...",2014,91,8.1,1973,NaN,NaN
Spotlight,193,"Crime,Drama,History",The true story of how the Boston Globe uncover...,Tom McCarthy,"Mark Ruffalo, Michael Keaton, Rachel McAdams, ...",2015,128,8.1,268282,44.99,93.0
Warrior,195,"Action,Drama,Sport",The youngest son of an alcoholic former boxer ...,Gavin O'Connor,"Tom Hardy, Nick Nolte, Joel Edgerton, Jennifer...",2011,140,8.2,355722,13.65,71.0
Into the Wild,198,"Adventure,Biography,Drama","After graduating from Emory University, top st...",Sean Penn,"Emile Hirsch, Vince Vaughn, Catherine Keener, ...",2007,148,8.1,459304,18.35,73.0
The Imitation Game,199,"Biography,Drama,Thriller","During World War II, mathematician Alan Turing...",Morten Tyldum,"Benedict Cumberbatch, Keira Knightley, Matthew...",2014,114,8.1,532353,91.12,73.0
Pan's Labyrinth,231,"Drama,Fantasy,War","In the falangist Spain of 1944, the bookish yo...",Guillermo del Toro,"Ivana Baquero, Ariadna Gil, Sergi López,Maribe...",2006,118,8.2,498879,37.62,98.0
The Grand Budapest Hotel,239,"Adventure,Comedy,Drama","The adventures of Gustave H, a legendary conci...",Wes Anderson,"Ralph Fiennes, F. Murray Abraham, Mathieu Amal...",2014,99,8.1,530881,59.07,88.0
Inside Out,242,"Animation,Adventure,Comedy",After young Riley is uprooted from her Midwest...,Pete Docter,"Amy Poehler, Bill Hader, Lewis Black, Mindy Ka...",2015,95,8.2,416689,356.45,94.0
The Intouchables,250,"Biography,Comedy,Drama",After he becomes a quadriplegic from a paragli...,Olivier Nakache,"François Cluzet, Omar Sy, Anne Le Ny, Audrey F...",2011,112,8.6,557965,13.18,57.0
There Will Be Blood,300,"Drama,History","A story of family, religion, hatred, oil and m...",Paul Thomas Anderson,"Daniel Day-Lewis, Paul Dano, Ciarán Hinds,Mart...",2007,158,8.1,400682,40.22,92.0
Rush,335,"Action,Biography,Drama",The merciless 1970s rivalry between Formula On...,Ron Howard,"Daniel Brühl, Chris Hemsworth, Olivia Wilde,Al...",2013,123,8.1,339722,26.90,75.0
The Bourne Ultimatum,428,"Action,Mystery,Thriller",Jason Bourne dodges a ruthless CIA official an...,Paul Greengrass,"Matt Damon, Edgar Ramírez, Joan Allen, Julia S...",2007,115,8.1,525700,227.14,85.0
3 Idiots,431,"Comedy,Drama",Two friends are searching for their long lost ...,Rajkumar Hirani,"Aamir Khan, Madhavan, Mona Singh, Sharman Joshi",2009,170,8.4,238789,6.52,67.0
Jagten,456,Drama,"A teacher lives a lonely life, all the while s...",Thomas Vinterberg,"Mads Mikkelsen, Thomas Bo Larsen, Annika Wedde...",2012,115,8.3,192263,0.61,76.0
The Lives of Others,477,"Drama,Thriller","In 1984 East Berlin, an agent of the secret po...",Florian Henckel von Donnersmarck,"Ulrich Mühe, Martina Gedeck,Sebastian Koch, Ul...",2006,137,8.5,278103,11.28,89.0
Paint It Black,479,Drama,A young woman attempts to deal with the death ...,Amber Tamblyn,"Alia Shawkat, Nancy Kwan, Annabelle Attanasio,...",2016,96,8.3,61,NaN,71.0
Up,500,"Animation,Adventure,Comedy",Seventy-eight year old Carl Fredricksen travel...,Pete Docter,"Edward Asner, Jordan Nagai, John Ratzenberger,...",2009,96,8.3,722203,292.98,88.0
Mommy,609,Drama,"A widowed single mother, raising her violent s...",Xavier Dolan,"Anne Dorval, Antoine-Olivier Pilon, Suzanne Cl...",2014,139,8.1,33560,3.49,74.0
WALL·E,635,"Animation,Adventure,Family","In the distant future, a small waste-collectin...",Andrew Stanton,"Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...",2008,98,8.4,776897,223.81,NaN
Relatos salvajes,642,"Comedy,Drama,Thriller",Six short stories that explore the extremities...,Damián Szifron,"Darío Grandinetti, María Marull, Mónica Villa,...",2014,122,8.1,110100,3.08,77.0
Gran Torino,646,Drama,Disgruntled Korean War veteran Walt Kowalski s...,Clint Eastwood,"Clint Eastwood, Bee Vang, Christopher Carley,A...",2008,116,8.2,595779,148.09,NaN
Toy Story 3,689,"Animation,Adventure,Comedy",The toys are mistakenly delivered to a day-car...,Lee Unkrich,"Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty",2010,103,8.3,586669,414.98,92.0
Hachi: A Dog's Tale,696,"Drama,Family",A college professor's bond with the abandoned ...,Lasse Hallström,"Richard Gere, Joan Allen, Cary-Hiroyuki Tagawa...",2009,93,8.1,177602,NaN,61.0
Incendies,714,"Drama,Mystery,War",Twins journey to the Middle East to discover t...,Denis Villeneuve,"Lubna Azabal, Mélissa Désormeaux-Poulin, Maxim...",2010,131,8.2,92863,6.86,80.0
El secreto de sus ojos,743,"Drama,Mystery,Romance",A retired legal counselor writes a novel hopin...,Juan José Campanella,"Ricardo Darín, Soledad Villamil, Pablo Rago,Ca...",2009,129,8.2,144524,20.17,80.0
PK,766,"Comedy,Drama,Romance",A stranger in the city asks questions no one h...,Rajkumar Hirani,"Aamir Khan, Anushka Sharma, Sanjay Dutt,Boman ...",2014,153,8.2,103279,10.57,51.0
How to Train Your Dragon,773,"Animation,Action,Adventure",A hapless young Viking who aspires to hunt dra...,Dean DeBlois,"Jay Baruchel, Gerard Butler,Christopher Mintz-...",2010,98,8.1,523893,217.39,74.0
Koe no katachi,862,"Animation,Drama,Romance","The story revolves around Nishimiya Shoko, a g...",Naoko Yamada,"Miyu Irino, Saori Hayami, Aoi Yuki, Kenshô Ono",2016,129,8.4,2421,NaN,80.0
Taare Zameen Par,992,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0

In [29]:
# Now let’s look at some more complex filters. We can make our conditions richer with logical operators like “|”
# and “&”.

# Say we want to retrieve the latest movies (movies released between 2010 and 2016) that had a very poor rating
# (score less than 6.0) but were among the highest earners at the box office (revenue above the 75th percentile).
# We can write our query as follows:
movies_df_title_indexed[
    ((movies_df_title_indexed['Year'] >= 2010) & (movies_df_title_indexed['Year'] <= 2016))
    & (movies_df_title_indexed['Rating'] < 6.0)
    & (movies_df_title_indexed['Revenue (Millions)'] > movies_df_title_indexed['Revenue (Millions)'].quantile(0.75))
]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Fifty Shades of Grey,64,"Drama,Romance,Thriller",Literature student Anastasia Steele's life cha...,Sam Taylor-Johnson,"Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...",2015,125,4.1,244474,166.15,46.0
Ghostbusters,80,"Action,Comedy,Fantasy","Following a ghost invasion of Manhattan, paran...",Paul Feig,"Melissa McCarthy, Kristen Wiig, Kate McKinnon,...",2016,116,5.3,147717,128.34,60.0
Transformers: Age of Extinction,127,"Action,Adventure,Sci-Fi",Autobots must escape sight from a bounty hunte...,Michael Bay,"Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...",2014,165,5.7,255483,245.43,32.0
The Twilight Saga: Breaking Dawn - Part 2,367,"Adventure,Drama,Fantasy","After the birth of Renesmee, the Cullens gathe...",Bill Condon,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2012,115,5.5,194329,292.30,52.0
Grown Ups 2,395,Comedy,After moving his family back to his hometown t...,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",2013,101,5.4,114482,133.67,19.0
Clash of the Titans,576,"Action,Adventure,Fantasy","Perseus demigod, son of Zeus, battles the mini...",Louis Leterrier,"Sam Worthington, Liam Neeson, Ralph Fiennes,Ja...",2010,106,5.8,238206,163.19,39.0
Kickboxer: Vengeance,581,Action,A kick boxer is out to avenge his brother.,John Stockwell,"Dave Bautista, Alain Moussi, Gina Carano, Jean...",2016,90,4.9,6809,131.56,37.0
Teenage Mutant Ninja Turtles,658,"Action,Adventure,Comedy","When a kingpin threatens New York City, a grou...",Jonathan Liebesman,"Megan Fox, Will Arnett, William Fichtner, Noel...",2014,101,5.9,178527,190.87,31.0
Green Lantern,674,"Action,Adventure,Sci-Fi",Reckless test pilot Hal Jordan is granted an a...,Martin Campbell,"Ryan Reynolds, Blake Lively, Peter Sarsgaard,M...",2011,114,5.6,231907,116.59,39.0
G.I. Joe: Retaliation,879,"Action,Adventure,Sci-Fi",The G.I. Joes are not only fighting their mort...,Jon M. Chu,"Dwayne Johnson, Channing Tatum, Adrianne Palic...",2013,110,5.8,152145,122.51,41.0
The Twilight Saga: Breaking Dawn - Part 1,926,"Adventure,Drama,Fantasy",The Quileutes close in on expecting parents Ed...,Bill Condon,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2011,117,4.9,190244,281.28,45.0
The Twilight Saga: Eclipse,942,"Adventure,Drama,Fantasy",As a string of mysterious killings grips Seatt...,David Slade,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2010,124,4.9,192740,300.52,58.0

In [30]:
# The results tell us that “Fifty Shades of Grey” tops the list of movies with the worst reviews but the highest 
# revenues! In total there are 12 movies that match these criteria.

# Note that the 75th percentile was given to us earlier by the .describe() method (it was 113.715M $), and these are
# all movies with revenue above that.

# Grouping#

# Things start looking really interesting when we group rows with certain criteria and then aggregate their data.

# Say we want to group our dataset by director and see how much revenue (sum) each director earned at the 
# box-office and then also look at the average rating (mean) for each director. We can do this by using thegroupby 
# operation on the column of interest, followed by the appropriate aggregate (sum/mean), like so:

# Let’s group our dataset by director and see how much revenue each director has
movies_df.groupby('Director').sum()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Director,,,,,,,
Aamir Khan,992,2007,165,8.5,102697,1.20,42.0
Abdellatif Kechiche,312,2013,180,7.8,103150,2.20,88.0
Adam Leon,784,2016,82,6.5,1031,0.00,77.0
Adam McKay,1910,8039,443,28.0,806827,438.14,262.0
Adam Shankman,1460,4019,240,12.6,167467,157.33,128.0
...,...,...,...,...,...,...,...
Xavier Dolan,1588,4030,236,15.1,44218,3.49,122.0
Yimou Zhang,6,2016,103,6.1,56036,45.13,42.0
Yorgos Lanthimos,479,4024,213,14.4,172259,8.81,155.0
Zack Snyder,904,10055,683,35.2,2301544,975.74,240.0
Zackary Adler,605,2015,110,5.1,1630,6.53,90.0

In [31]:
# Let’s group our dataset by director and see the average rating of each director
movies_df.groupby('Director')[['Rating']].mean()

                     Rating
Director
Aamir Khan             8.50
Abdellatif Kechiche    7.80
Adam Leon              6.50
Adam McKay             7.00
Adam Shankman          6.30
...                     ...
Xavier Dolan           7.55
Yimou Zhang            6.10
Yorgos Lanthimos       7.20
Zack Snyder            7.04
Zackary Adler          5.10

[644 rows x 1 columns]

In [32]:
# As we can see, Pandas grouped all the ‘Director’ rows by name into one. And since we used sum() for aggregation, 
# it added together all the numerical columns. The values for each of the columns now represent the sum of values in
# that column for that director.

# For example, we can see that the director Aamir Khan has a very high average rating (8.5) but his revenue is much
# lower compared to many other directors (only 1.20M $). This can be attributed to the fact that we are looking at a 
# dataset with international movies, and Hollywood directors/movies have understandably much higher revenues compared
# to movies from international directors.

# In addition to sum() and mean() Pandas provides multiple other aggregation functions like min()and max().

# Alt! Can you find a problem in the code when we apply aggregation to get the sum?

# This is not the correct approach for all the columns. We do not want to sum all the ‘Year’ values, for instance.
# To make Pandas apply the aggregation on some of the columns only, we can specify the name of the columns we are 
# interested in. For example, in the second example, we specifically passed the ‘Rating’ column, so that the mean 
# did not get applied to all the columns.

# Grouping is an easy and extremely powerful data analysis method. We can use it to fold datasets and uncover 
# insights from them, while aggregation is one of the foundational tools of statistics. In fact, learning to use
# groupby() to its full potential can be one of the greatest uses of the Pandas library.

# 7. Sorting #
# Pandas allows easy sorting based on multiple columns. We can apply sorting on the result of the groupby() 
# operation or we can apply it directly to the full DataFrame. Let’s see this in action via two examples:

# Say we want the total revenue per director and to have our results sorted by earnings, not in alphabetical order
# like in the previous examples.

# We can first do a groupby() followed by sum() (just like before) and then we can call sort_values on the results.
# To sort by revenue, we need to pass the name of that column as input to the sorting method; we can also specify 
# that we want results sorted from highest to lowest revenue:

#Let’s group our dataset by director and see who earned the most
movies_df.groupby('Director')[['Revenue (Millions)']].sum().sort_values(['Revenue (Millions)'], ascending=False)

                   Revenue (Millions)
Director
J.J. Abrams                   1683.45
David Yates                   1630.51
Christopher Nolan             1515.09
Michael Bay                   1421.32
Francis Lawrence              1299.81
...                               ...
Jalil Lespert                    0.00
Jamal Hill                       0.00
James Franco                     0.00
James Lapine                     0.00
Greg Kwedar                      0.00

[644 rows x 1 columns]

In [33]:
# Let's sort our movies by revenue and ratings and then get the top 10 results
data_sorted = movies_df_title_indexed.sort_values(['Revenue (Millions)','Rating'], ascending=False)
data_sorted[['Revenue (Millions)','Rating']].head(10)

                                            Revenue (Millions)  Rating
Title
Star Wars: Episode VII - The Force Awakens              936.63     8.1
Avatar                                                  760.51     7.8
Jurassic World                                          652.18     7.0
The Avengers                                            623.28     8.1
The Dark Knight                                         533.32     9.0
Rogue One                                               532.17     7.9
Finding Dory                                            486.29     7.4
Avengers: Age of Ultron                                 458.99     7.4
The Dark Knight Rises                                   448.13     8.5
The Hunger Games: Catching Fire                         424.65     7.6